{% extends 'admin_base.twig' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
    <h1>Artwork List</h1>
    <div class="add-artwork">
        <a href="add_artwork.php"><button>Add Artwork</button></a>
    </div>
    <form class="search" action="gallery.php" method="GET">
        <div class="row mb-3 align-items-end">
            <div class="form-group col-md-6">
                <label for="searchTerm" class="sr-only">Search:</label>
                <div class="d-flex align-items-end">
                    <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Wpisz tytuł lub artystę" value="{{ filters.searchTerm ?? '' }}">
                    <button type="submit" class="btn btn-primary mt-2 ml-2">Szukaj</button>
                    <button id="toggleFilterBtn" type="button" class="btn btn-primary mt-2 ml-2">Filtry</button>
                </div>
            </div>
        </div>
    </form>

    <div id="filterForm" class="container" style="display: none;">
        <form action="gallery.php" method="GET">
            <div class="row mb-3 align-items-end">
                <div class="form-group col-md-4 col-sm-6">
                    <label for="genre" class="sr-only">Genre:</label>
                    <select class="form-control " name="genre[]" id="genre" multiple>
                        {% for genre in genres %}
                            <option value="{{ genre.id }}" {% if genre.id in filters.genre %} selected {% endif %}>{{ genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2 col-sm-6">
                    <label for="creationYearFrom" class="sr-only">From:</label>
                    <input type="number" class="form-control" name="creationYearFrom" id="creationYearFrom" min="0" value="{{ filters.creationYearFrom ?? '' }}" placeholder="Od roku">
                </div>
                <div class="form-group col-md-2 col-sm-6">
                    <label for="creationYearTo" class="sr-only">To:</label>
                    <input type="number" class="form-control" name="creationYearTo" id="creationYearTo" min="0" value="{{ filters.creationYearTo ?? '' }}" placeholder="Do roku">
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Filtruj</button>
                    <a href="gallery.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}" class="btn btn-primary ml-2{% if not filters.searchTerm and not filters.genre and not filters.creationYearFrom and not filters.creationYearTo %} d-none{% endif %}">Wyczyść</a>
                </div>
            </div>
        </form>
    </div>
    </div>

    <div class="gallery">
        {% if artworks %}
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Creation Year</th>
                    <th>Dimensions</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Edited At</th>
                    <th>Alt Text</th>
                    <th>Admin Username</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for artwork in artworks %}
                    <tr>
                        <td>{{ artwork.id }}</td>
                        <td>{{ artwork.title }}</td>
                        <td class="artwork-image"><img src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}"></td>
                        <td><a href="admin.php?searchTerm={{ artwork.artistName }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}">{{ artwork.artistName }}</a></td>
                        <td>{{ artwork.genreName }}</td>
                        <td>{% if artwork.creationYear != 0 %}{{ artwork.creationYear }}{% endif %}</td>
                        <td>{{ artwork.dimensions }}</td>
                        <td>{{ artwork.createdBy }}</td>
                        <td>{{ artwork.createdAt }}</td>
                        <td>{{ artwork.editedAt }}</td>
                        <td>{{ artwork.altText }}</td>
                        <td>{{ artwork.username }}</td>
                        <td class="actions">
                            <a href="single_artwork_admin.php?id={{ artwork.id }}">Show</a>
                            <a href="edit_artwork.php?id={{ artwork.id }}">Edit</a>
                            <form action="delete_artwork.php" method="post" style="display: inline-block;">
                                <input type="hidden" name="id" value="{{ artwork.id }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <div class="pagination-info">
                    Page {{ currentPage }} of {{ totalPages }}
                </div>
                {% if currentPage > 1 %}
                    <a href="admin.php{% if filters %}?{% endif %}{% for key, value in filters %}{% if key == 'genre' and value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ currentPage - 1 }}{% if filters.searchTerm %}&searchTerm={{ filters.searchTerm }}{% endif %}">Previous</a>
                {% endif %}

                {% if currentPage < totalPages %}
                    <a href="admin.php{% if filters %}?{% endif %}{% for key, value in filters %}{% if key == 'genre' and value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ currentPage + 1 }}{% if filters.searchTerm %}&searchTerm={{ filters.searchTerm }}{% endif %}">Next</a>
                {% endif %}
            </div>
        {% else %}
            <p>No artworks found.</p>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>
        $(document).ready(function() {
            var $select = $('#genre').selectize({
                plugins: ['remove_button'],
                delimiter: ',',
                persist: false,
                create: function(input) {
                    return {
                        value: input,
                        text: input
                    }
                },
                placeholder: 'Choose genre',
                onDropdownOpen: function() {
                    this.$control_input.prop('readonly', true);
                    var self = this;
                    this.$dropdown.on('mouseleave', function() {
                        self.close();
                    });
                },
                onDropdownClose: function() {
                    this.$control_input.prop('readonly', false);
                }
            });
        });
    </script>
    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css" rel="stylesheet" />
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:hover {
                background-color: #f2f2f2;
            }

            .artwork-image img {
                max-width: 100px;
                height: auto;
            }
        </style>
    {% endblock %}
{% endblock %}
