{% extends 'base_admin.twig' %}

{% block title %}
    Add Artist
{% endblock %}

{% block content %}
    <div class="container container-edit">
        <h1 class="mb-3 mt-5 pt-4 ml-3">Dodaj artystę</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form action="artist_add.php" method="post">
            <div class="form-group">
                <label for="first_name">Imię:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ inputValues.first_name }}" required>
            </div>
            <div class="form-group">
                <label for="last_name">Nazwisko:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ inputValues.last_name }}" required>
            </div>
            <div class="form-group">
                <label for="year_of_birth">Rok urodzenia:</label>
                <input type="number" class="form-control" id="year_of_birth" name="year_of_birth" value="{{ inputValues.year_of_birth }}">
            </div>
            <div class="form-group">
                <label for="year_of_death">Rok śmierci:</label>
                <input type="number" class="form-control" id="year_of_death" name="year_of_death" value="{{ inputValues.year_of_death }}">
            </div>
            <button type="submit" class="btn btn-primary">Utwórz</button>
        </form>
    </div>
{% endblock %}
