{% extends 'base_admin.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Dzieło - {{ artwork.title }}
{% endblock %}

{% block content %}
    <div class="row align-items-center mt-3 artwork-title">
        <div class="mx-auto col-md-12 px-0 mb-3 pl-3">
            <div class="breadcrumb my-breadcrumb pt-5 px-1">
                <a class="my-a me-3 mx-3" href="artworks_admin.php">Lista dzieł</a><span>></span><div class="ml-3">{{ artwork.title }}</div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
            <div class="ml-3 pl-4">
                <h1 class="d-inline">{{ artwork.title }} ({{ artwork.artistName }})</h1>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mt-3 mt-md-0 text-md-right">
            <a href="artwork_edit.php?id={{ artwork.id }}" class="btn btn-outline-success btn-md ml-3 mb-md-0 mr-2"><i class="fas fa-edit"></i> Edytuj</a>
            <form action="artwork_delete.php" method="post" class="d-inline-block">
                <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                <button type="submit" class="btn btn-outline-danger btn-md" onclick="return confirm('Czy na pewno chcesz usunąć to dzieło?');"><i class="fas fa-trash-alt"></i> Usuń</button>
            </form>
        </div>
    </div>
    <div class="mt-4 ml-3 mr-3 d-flex justify-content-center">
        <div class="row">
            <div class="col-xl-6 text-center">
                <a href="{{ artwork.imagePath }}" target="_blank" class="text-dark">
                    <img class="card-img-top img-fluid" src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}">
                </a>
            </div>
            <div class="col-xl-6 d-flex align-items-center">
                <table class="table table-bordered table-sm mb-0 h-100">
                    <tbody>
                    <tr>
                        <th class="w-25" scope="row">ID:</th>
                        <td class="word-break">{{ artwork.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tytuł:</th>
                        <td class="word-break">{{ artwork.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Twórca:</th>
                        <td class="word-break">
                            <a href="artworks_admin.php?searchTerm={{ artwork.artistName }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}" class="text-dark text-underlined">
                                {{ artwork.artistName }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Kategoria:</th>
                        <td class="word-break">{{ artwork.genreName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Rok powstania:</th>
                        <td class="word-break">{% if artwork.creationYear != 0 %}{{ artwork.creationYear }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wymiary:</th>
                        <td class="word-break">{{ artwork.dimensions }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Medium:</th>
                        <td class="word-break">{{ artwork.medium }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Utworzono:</th>
                        <td class="word-break">{{ artwork.createdAt }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Edytowano:</th>
                        <td class="word-break">{{ artwork.editedAt }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tekst alternatywny:</th>
                        <td class="word-break">{{ artwork.altText }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Opis:</th>
                        <td class="word-break">{{ artwork.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Autor:</th>
                        <td class="word-break">{{ artwork.username }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
