{% extends 'base.twig' %}

{% block title %}Artworks Gallery{% endblock %}

{% block content %}
    <div class="container pt-3">
        <h1 class="text text-header-1 mt-5 pt-4 mb-0 ml-5">Dzieła sztuki</h1>
        <form class="search mt-4" action="gallery.php" method="GET">
            <div class="row mb-3 align-items-end">
                <div class="form-group col-md-6">
                    <label for="searchTerm" class="sr-only">Search:</label>
                    <div class="d-flex align-items-end">
                        <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Wpisz tytuł lub artystę" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary mt-2 ml-2">Szukaj</button>
                        <button id="toggleFilterBtn" type="button" class="btn btn-primary mt-2 ml-2">Filtry</button>
                    </div>
                </div>
            </div>
        </form>

        <div id="filterForm" class="container" style="display: none;">
            <form action="gallery.php" method="GET">
                <div class="row mb-3 align-items-end filters">
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="genre" class="sr-only">Genre:</label>
                        <select class="form-control " name="genre[]" id="genre" multiple style="width: 100%;">
                            {% for genre in genres %}
                                <option value="{{ genre.id }}" {% if genre.id in filters.genre %} selected {% endif %}>{{ genre.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="creationYearFrom" class="sr-only">Od roku:</label>
                        <input type="number" class="form-control" name="creationYearFrom" id="creationYearFrom" min="0" value="{{ filters.creationYearFrom ?? '' }}" placeholder="Od roku" style="width: 100%;">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="creationYearTo" class="sr-only">Do roku:</label>
                        <input type="number" class="form-control" name="creationYearTo" id="creationYearTo" min="0" value="{{ filters.creationYearTo ?? '' }}" placeholder="Do roku" style="width: 100%;">
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <input type="hidden" name="searchTerm" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary">Filtruj</button>
                        <a href="gallery.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}" class="btn btn-primary ml-2{% if not filters.searchTerm and not filters.genre and not filters.creationYearFrom and not filters.creationYearTo %} d-none{% endif %}">Wyczyść</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="card-columns">
            {% if artworks is empty %}
                <div class="no-results">
                    <p>Brak wyników</p>
                </div>
            {% else %}
                {% for artwork in artworks %}
                    <div class="card card-artworks">
                        <a href="single_artwork.php?id={{ artwork.id }}">
                            <img class="card-img-top img-fluid" src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}">
                        </a>
                        <button type="button" class="btn btn-sm btn-light alt-button mx-1 my-1" data-toggle="modal" data-target="#altTextModal" data-alt="{{ artwork.altText }}">ALT</button>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title mb-0">
                                    <span class="dark-text">{{ artwork.title }} </span>
                                    <span class="dark-text">{% if artwork.creationYear is null or artwork.creationYear == 0 %}(nieznany){% else %}({{ artwork.creationYear }}),{% endif %}</span>
                                    <a href="gallery.php?searchTerm={{ artwork.artistName }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}" class="artist-link">{{ artwork.artistName }}</a>
                                </h5>
                            </div>
                            <p class="card-text"><span class="genre">{{ artwork.genreName }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if artworks is empty %}
            <div class="no-results">
                <p>Brak wyników</p>
            </div>
        {% endif %}

        {% if totalPages > 1 %}
            <div class="navigation text-center">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if currentPage > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="gallery.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ currentPage - 1 }}">« Poprzednia</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;&nbsp;Poprzednia</span>
                            </li>
                        {% endif %}

                        {% set startPage = max(1, min(totalPages - 2, currentPage - 1)) %}
                        {% set endPage = min(totalPages, startPage + 2) %}

                        {% for page in range(startPage, endPage) %}
                            <li class="page-item {% if currentPage == page %}active{% endif %}">
                                <a class="page-link pagination-text" href="gallery.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if currentPage < totalPages %}
                            <li class="page-item">
                                <a class="page-link" href="gallery.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ currentPage + 1 }}">Następna&nbsp;»</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Następna&nbsp;»</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}

    </div>
    <div class="modal fade" id="altTextModal" tabindex="-1" aria-labelledby="altTextModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="altTextModalLabel">Alt Text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="altTextContent"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
