{% extends 'base.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Dzieła Sztuki
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="mx-0 mt-4 ml-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="breadcrumb my-breadcrumb pt-3 px-0">
                        <a class="my-a me-3 mr-3 text-white" href="/~21_hamowska/licencjat">Strona główna</a> <a class="text-white">></a> <div class="ml-3 text-white">Dzieła sztuki</div>
                    </div>
                    <h1 class="text-header-1 ml-5 m-0 mt-4">Dzieła sztuki</h1>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-md-9">
                <a href="artwork.php?id=random" class="btn btn-primary btn-md random-button mt-3 px-5">Losuj dzieło</a>
            </div>
        </div>

        <form class="search" action="artworks.php" method="GET">
            <div class="row mb-2 align-items-end">
                <div class="form-group col-md-8 mb-2">
                    <div class="d-flex align-items-end">
                        <label for="searchTerm" class="sr-only">Szukaj:</label>
                        <input type="search" class="form-control" name="searchTerm" id="searchTerm" placeholder="Wpisz tytuł lub artystę" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary ml-2">Szukaj</button>
                        <button id="toggleFilterBtn" type="button" class="btn btn-primary ml-2">Filtry i sortowanie</button>
                    </div>
                </div>
            </div>
        </form>

        <div id="filterForm" class="container">
            <form action="artworks.php" method="GET">
                <div class="row mb-3 align-items-end filters">
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="genre" class="text-white">Kategoria:</label>
                        <select class="form-control" name="genre[]" id="genre" multiple>
                            {% for genre in genres %}
                                <option value="{{ genre.id }}" {% if genre.id in filters.genre %} selected {% endif %}>{{ genre.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="creationYearFrom" class="text-white">Od roku:</label>
                        <input type="number" class="form-control w-100" name="creationYearFrom" id="creationYearFrom" min="0" value="{{ filters.creationYearFrom ?? '' }}" placeholder="Wpisz rok">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="creationYearTo" class="text-white">Do roku:</label>
                        <input type="number" class="form-control w-100" name="creationYearTo" id="creationYearTo" min="0" value="{{ filters.creationYearTo ?? '' }}" placeholder="Wpisz rok">
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label for="sortOrder" class="text-white">Sortowanie:</label>
                        <select class="form-control" name="sortOrder" id="sortOrder">
                            <option value="" {% if filters.sortOrder is empty %} selected {% endif %}></option>
                            <option value="asc" {% if filters.sortOrder == 'asc' %} selected {% endif %}>sortuj rosnąco wg. roku powstania</option>
                            <option value="desc" {% if filters.sortOrder == 'desc' %} selected {% endif %}>sortuj malejąco wg. roku powstania</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <input type="hidden" name="searchTerm" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary">Zastosuj</button>
                        <a href="artworks.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.genre %}&genre={{ filters.genre|join(',') }}{% endif %}{% if filters.creationYearFrom %}&creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearTo %}&creationYearTo={{ filters.creationYearTo }}{% endif %}{% if filters.sortOrder %}&sortOrder={{ filters.sortOrder }}{% endif %}" class="btn btn-primary ml-2{% if not filters.searchTerm and not filters.genre and not filters.creationYearFrom and not filters.creationYearTo and not filters.sortOrder %} d-none{% endif %}">Wyczyść</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

        <div class="container">
        <div class="card-columns">
            {% if artworks is empty %}
                <div class="no-results">
                    <p class="text-light">Brak wyników</p>
                </div>
            {% else %}
                {% for artwork in artworks %}
                    <div class="card card-artworks">
                        <a href="artwork.php?id={{ artwork.id }}">
                            <img class="card-img-top img-fluid" src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}">
                        </a>
                        <button type="button" class="btn btn-sm btn-light alt-button mx-1 my-1" data-toggle="modal" data-target="#descriptionModal" data-alt="{{ artwork.description }}">opis</button>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title mb-0">
                                    <span class="dark-text">{{ artwork.title }} </span>
                                    <span class="dark-text">{% if artwork.creationYear is null or artwork.creationYear == 0 %}(rok nieznany){% else %}({{ artwork.creationYear }}){% endif %}</span>
                                </h5>
                            </div>
                            <a href="artworks.php?searchTerm={{ artwork.artistName }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}" class="btn btn-primary py-0 mt-1 px-1 text-white">{{ artwork.artistName }}</a>
                            <p class="card-text"><span class="genre">{{ artwork.genreName }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if totalPages > 1 %}
            <div class="navigation text-center">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if currentPage > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="artworks.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo or filters.sortOrder %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}{% if filters.creationYearTo and filters.sortOrder %}&{% endif %}{% if filters.sortOrder %}sortOrder={{ filters.sortOrder }}{% endif %}&page={{ currentPage - 1 }}">‹ Poprzednia</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">‹&nbsp;Poprzednia</span>
                            </li>
                        {% endif %}

                        {% set startPage = max(1, min(totalPages - 2, currentPage - 1)) %}
                        {% set endPage = min(totalPages, startPage + 2) %}

                        {% for page in range(startPage, endPage) %}
                            <li class="page-item {% if currentPage == page %}active{% endif %}">
                                <a class="page-link pagination-text" href="artworks.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo or filters.sortOrder %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}{% if filters.creationYearTo and filters.sortOrder %}&{% endif %}{% if filters.sortOrder %}sortOrder={{ filters.sortOrder }}{% endif %}&page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if currentPage < totalPages %}
                            <li class="page-item">
                                <a class="page-link" href="artworks.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo or filters.sortOrder) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo or filters.sortOrder %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}{% if filters.creationYearTo and filters.sortOrder %}&{% endif %}{% if filters.sortOrder %}sortOrder={{ filters.sortOrder }}{% endif %}&page={{ currentPage + 1 }}">Następna&nbsp;›</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Następna&nbsp;›</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">Opis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="altTextContent"></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
