{% extends 'base_admin.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Lista Dzieł
{% endblock %}

{% block content %}
    <h1 class="mb-4 mt-4 pt-5 ml-3 pl-4">Lista dzieł</h1>
    <div class="add-artwork ml-3 mb-2 mr-3">
        <a href="artwork_add.php"><button class="btn btn-primary add-artwork-button">Dodaj dzieło</button></a>
    </div>
    <div class="container-search ml-3 mr-3">
        <form class="search ml-3" action="artworks_admin.php" method="GET">
            <div class="row align-items-end">
                <div class="form-group col-md-6">
                    <label for="searchTerm" class="sr-only">Szukaj:</label>
                    <div class="d-flex align-items-end">
                        <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Wpisz tytuł lub artystę" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary mt-2 ml-2">Szukaj</button>
                        <button id="toggleFilterBtn" type="button" class="btn btn-primary mt-2 ml-2 mr-3">Filtry</button>
                    </div>
                </div>
            </div>
        </form>

        <div id="filterForm" class="container ml-3">
            <form action="artworks_admin.php" method="GET">
                <div class="row mb-3 align-items-end filters">
                    <div class="form-group col-md-4 col-sm-6 mr-2">
                        <label for="genre" class="sr-only">Genre:</label>
                        <select class="form-control mr-1" name="genre[]" id="genre" multiple>
                            {% for genre in genres %}
                                <option value="{{ genre.id }}" {% if genre.id in filters.genre %} selected {% endif %}>{{ genre.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-6 mr-2">
                        <label for="creationYearFrom" class="sr-only">Od roku:</label>
                        <input type="number" class="form-control" name="creationYearFrom" id="creationYearFrom" min="0" value="{{ filters.creationYearFrom ?? '' }}" placeholder="Od roku">
                    </div>
                    <div class="form-group col-md-2 col-sm-6 mr-2">
                        <label for="creationYearTo" class="sr-only">Do roku:</label>
                        <input type="number" class="form-control" name="creationYearTo" id="creationYearTo" min="0" value="{{ filters.creationYearTo ?? '' }}" placeholder="Do roku">
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end mr-2">
                        <input type="hidden" name="searchTerm" value="{{ filters.searchTerm ?? '' }}">
                        <button type="submit" class="btn btn-primary">Filtruj</button>
                        <a href="artworks_admin.php{% if filters.searchTerm %}?searchTerm={{ filters.searchTerm }}{% endif %}" class="btn btn-primary ml-2{% if not filters.searchTerm and not filters.genre and not filters.creationYearFrom and not filters.creationYearTo %} d-none{% endif %}">Wyczyść</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="gallery ml-3 mr-3">
        {% if artworks %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th id="header-image" class="d-none d-sm-table-cell">Zdjęcie</th>
                        <th id="header-title">Tytuł</th>
                        <th id="header-artist" class="d-none d-sm-table-cell">Twórca</th>
                        <th id="header-genre" class="d-none d-sm-table-cell">Kategoria</th>
                        <th id="header-year" class="d-none d-md-table-cell">Rok powstania</th>
                        <th id="header-dimensions" class="d-none d-md-table-cell">Wymiary</th>
                        <th id="header-medium" class="d-none d-lg-table-cell">Medium</th>
                        <th id="header-username" class="d-none d-lg-table-cell">Autor</th>
                        <th id="header-actions">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artwork in artworks %}
                        <tr>
                            <td headers="header-image" class="d-none d-sm-table-cell artwork-image">
                                <div class="img-column">
                                    <img src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}" class="img-fluid small-image">
                                </div>
                            </td>
                            <td headers="header-title" class="title-width">{{ artwork.title }}</td>
                            <td headers="header-artist" class="d-none d-sm-table-cell">
                                <a href="artworks_admin.php?searchTerm={{ artwork.artistName|url_encode }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}">
                                    {{ artwork.artistName }}
                                </a>
                            </td>
                            <td headers="header-genre" class="d-none d-sm-table-cell">{{ artwork.genreName }}</td>
                            <td headers="header-year" class="d-none d-md-table-cell">{% if artwork.creationYear != 0 %}{{ artwork.creationYear }}{% endif %}</td>
                            <td headers="header-dimensions" class="d-none d-md-table-cell">{{ artwork.dimensions }}</td>
                            <td headers="header-medium" class="d-none d-lg-table-cell">{{ artwork.medium }}</td>
                            <td headers="header-username" class="d-none d-lg-table-cell">{{ artwork.username }}</td>
                            <td headers="header-actions" class="actions">
                                <div class="text-center">
                                    <a class="btn btn-md btn-outline-primary m-1" href="artwork_show.php?id={{ artwork.id }}">Pokaż</a>
                                    <a class="btn btn-md btn-outline-success m-1" href="artwork_edit.php?id={{ artwork.id }}">Edytuj</a>
                                    <button class="btn btn-md btn-outline-danger m-1" onclick="confirmDelete('{{ artwork.id }}', '{{ artwork.title }}')">Usuń</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination d-flex justify-content-center">
                {% if totalPages > 1 %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if currentPage > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="artworks_admin.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ currentPage - 1 }}">« Poprzednia</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;&nbsp;Poprzednia</span>
                                </li>
                            {% endif %}

                            {% set startPage = max(1, min(totalPages - 2, currentPage - 1)) %}
                            {% set endPage = min(totalPages, startPage + 2) %}

                            {% for page in range(startPage, endPage) %}
                                <li class="page-item {% if currentPage == page %}active{% endif %}">
                                    <a class="page-link pagination-text" href="artworks_admin.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ page }}">{{ page }}</a>
                                </li>
                            {% endfor %}

                            {% if currentPage < totalPages %}
                                <li class="page-item">
                                    <a class="page-link" href="artworks_admin.php{% if filters %}?{% endif %}{% if filters.searchTerm %}searchTerm={{ filters.searchTerm }}{% endif %}{% if filters.searchTerm and (filters.genre or filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.genre %}genre={{ filters.genre|join(',') }}{% endif %}{% if filters.genre and (filters.creationYearFrom or filters.creationYearTo) %}&{% endif %}{% if filters.creationYearFrom %}creationYearFrom={{ filters.creationYearFrom }}{% endif %}{% if filters.creationYearFrom and filters.creationYearTo %}&{% endif %}{% if filters.creationYearTo %}creationYearTo={{ filters.creationYearTo }}{% endif %}&page={{ currentPage + 1 }}">Następna&nbsp;»</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Następna&nbsp;»</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        {% else %}
            <p>No artworks found.</p>
        {% endif %}
    </div>
    <script>
        function confirmDelete(artworkId, artworkTitle) {
            if (confirm("Czy na pewno chcesz usunąć dzieło o tytule " + artworkTitle + "?")) {
                window.location.href = "artwork_delete.php?id=" + artworkId;
            }
        }
    </script>
{% endblock %}
