{% extends 'base.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Dzieło - {{ artwork.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4" style="height: 102vh;">
        <div class="mx-auto pt-3 col-md-9 px-0">
            <div class="breadcrumb my-breadcrumb pt-4 px-1">
                <a class="my-a me-3 mr-3 text-white" href="/~21_hamowska/licencjat">Strona główna</a><span class="text-white">></span>
                <a class="my-a me-3 mx-3 text-white" href="artworks.php">Dzieła sztuki</a><span class="text-white">></span>
                <div class="ml-3 text-white">{{ artwork.title }}</div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pb-5" style="height: 85%;">
            <div class="col-md-8">
                <div class="card card-single mx-auto" style="max-width: fit-content; max-height: 100vh;">
                    <div class="w-100 position-relative">
                        <a href="{{ artwork.imagePath }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ artwork.imagePath }}" alt="{{ artwork.altText }}" style="max-height: 65vh; width: auto;">
                        </a>
                    </div>
                    <div class="card-body pb-2 pt-2">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-2 text-dark">{{ artwork.title }}</h4>
                            <button type="button" class="btn btn-sm btn-light alt-button mx-1 my-1" data-toggle="modal" data-target="#descriptionModal" data-alt="{{ artwork.description }}">opis</button>
                        </div>
                        <p class="card-text">Autor: <a href="artworks.php?searchTerm={{ artwork.artistName }}{% if filters %}{% for key, value in filters %}{% if value is iterable %}{% set value = value|join(',') %}{% endif %}{% if value is not empty %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}" class = "artist-link">{{ artwork.artistName }}</a> ({% if artwork.artistYearOfBirth %}{{ artwork.artistYearOfBirth }}{% else %}nieznany{% endif %} - {% if artwork.artistYearOfDeath %}{{ artwork.artistYearOfDeath }}{% else %}obecnie{% endif %})</p>
                        <p class="card-text">Kategoria: {{ artwork.genreName }}</p>
                        <p class="card-text">Rok powstania: {% if artwork.creationYear is null or artwork.creationYear == 0 %}nieznany{% else %}{{ artwork.creationYear }}{% endif %}</p>
                        <p class="card-text">Medium: {{ artwork.medium }}</p>
                        <p class="card-text mb-0 pb-0">Wymiary: {{ artwork.dimensions }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">Opis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="altTextContent"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
