{% extends 'base_admin.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Dodaj Dzieło
{% endblock %}

{% block content %}
    <div class="container container-edit mt-5 pl-5 pr-5">
        <h1 class="mb-4 mt-4 pt-5 ml-3 pl-4">Dodaj dzieło</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form action="artwork_add.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Tytuł:</label>
                <input type="text" class="form-control" name="title" id="title" value="{{ inputValues.title }}" required>
            </div>

            <div class="form-group">
                <label for="artistId">Twórca:</label>
                <select class="form-control" name="artistId" id="artistId" required>
                    <option value=""></option>
                    {% for artist in artists %}
                        <option value="{{ artist.id }}" {% if artist.id == inputValues.artistId %} selected {% endif %}>{{ artist.first_name }} {{ artist.last_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="genreId">Kategoria:</label>
                <select class="form-control" name="genreId" id="genreId" required>
                    <option value=""></option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if genre.id == inputValues.genreId %} selected {% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="creationYear">Rok utworzenia:</label>
                <input type="number" class="form-control" name="creationYear" id="creationYear" min="0" value="{{ inputValues.creationYear }}">
            </div>

            <div class="form-group">
                <label for="dimensions">Wymiary (wysokość × szerokość w cm):</label>
                <input type="text" class="form-control" name="dimensions" id="dimensions" value="{{ inputValues.dimensions }}" required>
            </div>

            <div class="form-group">
                <label for="medium">Medium:</label>
                <input type="text" class="form-control" name="medium" id="medium" value="{{ inputValues.medium }}" required>
            </div>

            <div class="form-group">
                <label for="altText">Tekst alternatywny:</label>
                <textarea id="altText" name="altText" class="form-control" required>{{ inputValues.altText }}</textarea>
            </div>

            <div class="form-group">
                <label for="description">Opis dzieła:</label>
                <textarea id="description" name="description" class="form-control" required>{{ artwork.description ?? '' }}</textarea>
            </div>

            <div class="form-group mb-3">
                <label for="image" class="form-label">Zdjęcie:</label><br>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" onchange="previewImage(event)" accept="image/*" required>
                        <label class="custom-file-label" for="image">Wybierz zdjęcie</label>
                    </div>
                </div>
                <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail">
            </div>

            <button type="submit" class="btn btn-primary">Utwórz</button>
        </form>
    </div>

    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.src = URL.createObjectURL(event.target.files[0]);
            imagePreview.style.display = 'block';
        }
    </script>
{% endblock %}
