{% extends 'admin_base.twig' %}

{% block title %}
    Edit Artwork
{% endblock %}

{% block content %}
    <h1>Edit Artwork</h1>
    <form action="edit_artwork.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ artwork.id }}">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{ artwork.title }}"><br>

        <label for="artistId">Artist:</label>
        <select name="artistId" id="artistId">
            {% for artist in artists %}
                <option value="{{ artist.id }}" {% if artist.id == artwork.artistId %} selected {% endif %}>{{ artist.first_name }} {{ artist.last_name }}</option>
            {% endfor %}
        </select><br>

        <label for="genreId">Genre:</label>
        <select name="genreId" id="genreId">
            {% for genre in genres %}
                <option value="{{ genre.id }}" {% if genre.id == artwork.genreId %} selected {% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select><br>

        <label for="creationYear">Creation Year:</label>
        <input type="number" name="creationYear" id="creationYear" min="0" value="{{ artwork.creationYear }}"><br>

        <label for="dimensions">Dimensions:</label>
        <input type="text" name="dimensions" id="dimensions" value="{{ artwork.dimensions }}"><br>

        <label for="altText">Alt Text:</label>
        <input type="text" name="altText" id="altText" value="{{ artwork.altText }}"><br>

        {% if artwork.imagePath %}
            <img id="currentImage" src="{{ artwork.imagePath }}" alt="Current Image" style="max-width: 300px;"><br>
        {% endif %}

        <label for="image">New Image:</label>
        <input type="file" name="image" id="image" onchange="previewImage(event)"><br>
        <input type="hidden" name="imageId" id="imageId" value="{{ artwork.imageId }}">

        <button type="submit">Save</button>
    </form>

    <script>
        function previewImage(event) {
            const currentImage = document.getElementById('currentImage');
            currentImage.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
{% endblock %}
