{% extends 'base_admin.twig' %}

{% block title %}
    Internetowa Galeria Sztuki - Lista Kategorii
{% endblock %}

{% block content %}
    <h1 class="mb-4 mt-4 pt-5 ml-3 pl-4">Lista kategorii</h1>
    <div class="add-artwork ml-3 mb-3 mr-3">
        <a href="genre_add.php"><button class="btn btn-primary add-button"><i class="fas fa-plus-square">&nbsp</i> Dodaj kategorię</button></a>
    </div>
    <div class="container-search ml-3 mr-3">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="admin-table">
            <table class="table table-bordered table-light" id="admin-table">
                <thead class="thead-dark">
                <tr>
                    <th id="header-name" data-field="name" data-sortable="true">Nazwa</th>
                    <th id="header-actions">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for genre in genres %}
                    <tr>
                        <td headers="header-name">{{ genre.name }}</td>
                        <td headers="header-actions align-top" class="text-center">
                            <div class="d-flex justify-content-center flex-column flex-md-row">
                                <a href="genre_edit.php?id={{ genre.id }}" class="btn btn-outline-success btn-md m-1 my-md-0"><i class="fas fa-edit"></i> Edytuj</a>
                                <button type="button" class="btn btn-outline-danger btn-md m-1 my-md-0" onclick="confirmDelete({{ genre.id }}, '{{ genre.name }}')"><i class="fas fa-trash-alt"></i> Usuń</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function confirmDelete(genreId, genreName) {
            if (confirm("Czy na pewno chcesz usunąć kategorię '" + genreName + "'?")) {
                window.location.href = "genre_delete.php?id=" + genreId;
            }
        }
    </script>
{% endblock %}
