{% extends 'admin_base.twig' %}

{% block title %}{{ artwork.title }}{% endblock %}

{% block content %}
    <h1>{{ artwork.title }}</h1>
    <p>Artist: {{ artwork.artistName }}</p>
    <p>Genre: {{ artwork.genreName }}</p>
    <p>Creation Year: {{ artwork.creationYear }}</p>
    <p>Dimensions: {{ artwork.dimensions }}</p>
    <img src="{{ artwork.imagePath }}" alt="Artwork Image">
{% endblock %}
